.costs-filter {
   padding: 20px;
}

.costs-filter__control {
   display: flex;
   width: 100%;
   align-items: center;
   justify-content: space-between;
}

.costs-filter label {
   font-weight: bold;
   margin-bottom: 20px;
}

.costs-filter select {
   padding: 5px;
   font-weight: bold;
   border-radius: 6px;
}